*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    background: url(https://free4kwallpapers.com/uploads/originals/2021/03/13/gradient-lines-wide-background-wallpaper.png);
    background-size: cover;
}
.card{
    height: 470px;
    width: 350px;
    background-color: rgba(235, 246, 255, 0.199);
    backdrop-filter: blur(18px);
    border-radius: 30px;
    box-shadow: 0 10px 25px 0 rgba(27, 27, 27, 0.466), inset 0 -8px 16px 0 rgba(197, 226, 252, 0.418);
    margin-left: 500px;  
    margin-top: 90px;
}
.form{
    position:absolute;
    inset: 2px;
    border-radius: 8px;
    background: none;
    z-index: 10;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: rgb(0, 219, 219);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox{
    position: relative;
    width: 265px;
    margin-top: 30px;

}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    border-radius: 20px 10px 20px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;   
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}